{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% set title_url = "./index.html" %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
        <div class="column col-11 col-mx-auto">
            <section class="text-justify">
                <p>Bonjour ! &#128075;</p>
                <p>Je m'appelle Jean.</p>
                <p>Je suis un ingénieur en informatique diplômé de l'Université de Technologie de Compiègne. Depuis mars 2017, je travaille sur des sujets d'indexation et de stockage distribué pour de grands volumes de données, en effectuant des tâches de recherche et développement, d'intégration, d'exploitation et de maintien en conditions opérationnelles.</p>
                <p>Ce site propose une présentation succinte de mon parcours professionnel, ainsi que quelques articles à propos de certains projets personnels.</p>
                <p>Je suis joignable sur <a href="https://www.linkedin.com/in/jeanvintache">LinkedIn</a> ou bien tout simplement via mail à l'adresse <code>prénom@nom.eu</code>, en remplaçant <code>prénom</code> et <code>nom</code>, par&#8230; les miens.</p>
                <p class="text-center">Bonne visite !</p>
            </section>
        </div> <!-- column -->
        <div class="column col-6 col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="card-title h5">Mon parcours</div>
                <div class="card-subtitle text-gray">Un aperçu de mon parcours professionnel</div>
              </div>
              <div class="card-footer">
                <a href="./parcours.html" class="btn btn-primary"><i class="icon icon-forward"></i> Voir</a>
              </div>
            </div>
        </div>
        <div class="column col-6 col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="card-title h5">Mes <small>(petits)</small> projets</div>
                <div class="card-subtitle text-gray">Articles à propos de certains de mes projets</div>
              </div>
              <div class="card-footer">
                <a href="./projets.html" class="btn btn-primary"><i class="icon icon-forward"></i> Voir</a>
              </div>
            </div>
        </div>
{% endblock %}