{% extends "base.html" %}
{% block title %}Career Path{% endblock %}
{% block breadcrumbs %}
                  <li class="breadcrumb-item">
                    <a href="parcours.html">Career Path</a>
                  </li>
{% endblock %}
{% block content %}
        <div class="column col-12 col-lg-7 col-md-10 col-sm-12">
            <section id="parcours">
                <div class="timeline">
                    <div class="timeline-item" id="mars17">
                        <div class="timeline-left">
                            <a class="timeline-icon tooltip" href="" data-tooltip="March 2017">
                            </a>
                        </div>
                        <div class="timeline-content">
                            <div class="tile">
                                <div class="tile-content">
                                    <p class="tile-subtitle">March 2017 &mdash; French Ministry of Armed Forces</p>
                                    <p class="tile-title">Data Engineer &mdash; indexing and storage</p>
                                    <p class="tile-title">R&amp;D, deployment, maintenance and monitoring</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item" id="sept16">
                        <div class="timeline-left">
                            <a class="timeline-icon icon-lg tooltip" href="" data-tooltip="September 2016">
                                <i class="icon icon-check"></i>
                            </a>
                        </div>
                        <div class="timeline-content">
                            <div class="tile">
                                <div class="tile-content">
                                    <p class="tile-subtitle">September 2016 &mdash; French Ministry of Armed Forces</p>
                                    <p class="tile-title">6-months internship</p>
                                    <p class="tile-title">Monitoring solutions for Big Data ecosystems</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item" id="sept15">
                        <div class="timeline-left">
                            <a class="timeline-icon icon-lg tooltip" href="" data-tooltip="September 2015">
                                <i class="icon icon-check"></i>
                            </a>
                        </div>
                        <div class="timeline-content">
                            <div class="tile">
                                <div class="tile-content">
                                    <p class="tile-subtitle">September 2015 &mdash; UTC</p>
                                    <p class="tile-title">Computer Science</p>
                                    <p class="tile-title">Minor: <a href="https://www.utc.fr/formations/diplome-dingenieur/genie-informatique-gi/filiere-ingenierie-des-connaissances-et-des-supports-dinformation-icsi/">Knowledge Engineering and Information Processing Support</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item" id="fev15">
                        <div class="timeline-left">
                            <a class="timeline-icon icon-lg tooltip" href="" data-tooltip="February 2015">
                                <i class="icon icon-check"></i>
                            </a>
                        </div>
                        <div class="timeline-content">
                            <div class="tile">
                                <div class="tile-content">
                                    <p class="tile-subtitle">Feburary 2015 &mdash; Diginext</p>
                                    <p class="tile-title">6-months internship</p>
                                    <p class="tile-title">Tactical Data Links: Building of a parser that extracts TDL models from STANAG PDF documents</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item" id="fev14">
                        <div class="timeline-left">
                            <a class="timeline-icon icon-lg tooltip" href="" data-tooltip="February 2014">
                                <i class="icon icon-check"></i>
                            </a>
                        </div>
                        <div class="timeline-content">
                            <div class="tile">
                                <div class="tile-content">
                                    <p class="tile-subtitle">February 2014 &mdash; UTC</p>
                                    <p class="tile-title">Major: <a href="https://www.utc.fr/formations/diplome-dingenieur/genie-informatique-gi/">Computer Sciences and Engineering</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item" id="sept11">
                        <div class="timeline-left">
                            <a class="timeline-icon icon-lg tooltip" href="" data-tooltip="September 2011">
                                <i class="icon icon-check"></i>
                            </a>
                        </div>
                        <div class="timeline-content">
                            <div class="tile">
                                <div class="tile-content">
                                    <p class="tile-subtitle">September 2011 &mdash; UTC</p>
                                    <p class="tile-title">5-year-degree at University of Technology of Compiègne, France (UTC)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item" id="juin11">
                        <div class="timeline-left">
                            <a class="timeline-icon icon-lg tooltip" href="" data-tooltip="June 2011">
                                <i class="icon icon-check"></i>
                            </a>
                        </div>
                        <div class="timeline-content">
                            <div class="tile">
                                <div class="tile-content">
                                    <p class="tile-subtitle">June 2011 &mdash; Lycée Jean Zay, Jarny (54), France</p>
                                    <p class="tile-title">High School Diploma, with honours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- timeline -->
            </section> <!-- parcours -->
        </div> <!-- column -->
{% endblock %}